.line1 {
  font-size: 1vw;
  font-style: italic;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  text-align: center;
}
.line2 {
  font-size: 1.5vw;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.line {
  text-align: center;
}
.shipping {
  display: flex;
  text-align: center;
  width: 80vw;
  padding: 7vh 0vw 7vh 20vw;
  font-style: italic;
  font-size: 1.5vw;
  background-color: rgb(219, 217, 217);
}
.shippingline1 {
  padding: 0 2vw 0 0;
}
.subfooter {
  display: flex;
}
.friends {
  padding: 5vh 2vh 5vh 2vh;
  font-style: italic;
  font-size: 1.5vw;
}
.emailSub {
  padding: 5vh 2vw 5vh 22vw;
}
.emailSub input {
  padding: 2vh 10vw 2vh 1vw;
  font-size: 1.5vw;
}
.emailSub button {
  padding: 2.3vh 2vw 2.3vh 2vw;
  background-color: grey;
  border: none;
  font-size: 1.5vw;
}
.emailSub button:hover {
  background-color: black;
  color: white;
  padding: 2.3vh 2.5vw 2.3vh 2.5vw;
}
